* {
    background-color: rgb(9, 0, 20);
}
* .p-nametags{
    color: rgb(240, 240, 240);
    margin-left: 25%;
    transition: 0.2s ease-in-out;
}
* .p-nametags:hover {
    color: rgb(199, 199, 199);
}
body {
    background-color: rgb(9, 0, 20);
}
.game-img {
    margin-left: 350px;
}
.feature-icon {
    padding: 15px;
    border-radius: 10px;
}
.feature-icon img {
    width: 30px;
}
a {
    text-decoration: none;
    color: rgb(170, 170, 170);
}
p {
    color: rgb(240, 240, 240);
}
h1 {
    color: rgb(240, 240, 240);
}
h2 {
    color: rgb(240, 240, 240);
}
#captain {
    color: rgb(255, 255, 154);
}
li {

    color: rgb(255, 255, 154);

}
.list-group {
    width: 400px;
    margin-top: 20px;
    margin-left: 40px;
}
.board {
    color: rgb(0, 0, 0);
}
hr {
    color: white;
}
* .a-nametags{
    color: rgb(240, 240, 240);
    transition: 0.2s ease-in-out;
}
* .a-nametags:hover {
    color: rgb(199, 199, 199);
}
svg {
    background-color: rgb(0, 152, 152);
}
.nav-item {
    color: white;
}
